html {
    background-color: #1a1a1d; /* Dark gray background */
    color: #ffffff; /* White text */
    font-family: 'Lexend', Segoe UI;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
}

a {
    display: block;
    padding: 8px;
    background-color: #2d2d33; /* Darker gray for links */
    color: #ffffff; /* White text */
    text-decoration: none;
}

h1 {
    font-size: 72px;
    padding: 0px;
    margin: 2px;
}

img {
    image-rendering: pixelated;
    width: 100px;
    height: auto;
}



.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    float: left;
  }
  
.card h2 {
    margin-top: 0;
}
  
.card ul {
    list-style-type: none;
    padding: 1;
}
  
.card ul li {
    margin-bottom: 5px;
    white-space: pre-wrap; /* This CSS property ensures that newline characters are preserved */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  