html {
    background-color: #18181b;
    color: #eeeeee;
    font-family: 'Lexend', Segoe UI;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
}

a {
    display: block;
    padding: 8px;
    background-color: #393941;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 72px;
    padding: 0px;
    margin: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #393941;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #232329;
}

.stat-column {
    width: 60px; /* Adjust this value as needed */
}

.small-column{
    width: 90px;
}

.evo-requirement{
    width: 190px;
}

.evo-method{
    width: 230px;
}

.ability{
    width: 150px;
}

#searchInput{
    margin: 10px;
    width: 300px;
    height: 25px;
    background-color: #393941;
    color: #eeeeee;
    outline: none;
    border: 2px solid #43454b;
    font-family: 'lexend';
}